{{ define "via_v3_linux.html" }}
    {{ template "head" . }}

    {{ template "header" . }}
    <div class="container">
        <section id="articles-detail">
            <h1>VIA v3 on Linux</h1>
            <p class="date" style="margin-bottom:0;">
                <small>Published: 2023-06-03</small>
            </p><hr>
            <p>As a note to myself, for when I forget.</p>
            <p>I needed to use my split keyboard, a 40% corne layout for anyone interested, but it's configured using VIA.</p>
            <p>I used it previously on my Ubuntu install and made use of the deb image, but currently I am on Void Linux and had to make use of either the appimage.</p>
            <p>After downloading it <a href="https://github.com/the-via/releases/releases" target="_blank">here</a> as well as giving the app image permission to execute with <code>chmod +x</code>, it didn't work, running the app image in the terminal gave me the following error:</p>
            <code>
               UnhandledPromiseRejectionWarning: Error:....
               <br>
               /bin/bash: line 1: /etc/udev/rules.d/92-viia.rules: No such file or directory
               <br>
               ...
            </code>
            <p>I found <a href="https://get.vial.today/manual/linux-udev.html" target="_blank">this article</a> on configuring udev which helped me fix the issue, by first making the directory with the file:</p>
            <pre><code>/etc/udev/rules.d/92-viia.rules </code></pre>
            <p>and then adding the following content:</p>
            <pre><code>KERNEL=="hidraw*", SUBSYSTEM=="hidraw", MODE="0666", TAG+="uaccess", TAG+="udev-acl" </code></pre>
            <p>You can read up more on tweaking that specific udev rule in the article linked, but in my case this was enough to get VIA working as I needed.</p>
        </section>
    </div>   

    {{ template "links" . }}

    {{ template "footer" . }}
{{ end }}

