{{ define "my_software_toolbox.html" }}
    {{ template "head" . }}

    {{ template "header" . }}
        
    <div class="container">
        <section id="articles-detail">
            <h1>My Software Toolbox</h1>
            <p class="date" style="margin-bottom:0;">
                <small>Published: 2023-05-15</small>
            </p> <hr>
            <p>This is my first post that I intend to comeback and update as the tools I use on a daily basis change.</p>
            <p>I think it's helpful to have a more curated list somewhere less ephemeral than my random vim wiki notes.</p>
            <h4 id="operating-system">Operating System:</h4>
            <ul>
            <li>Pop!_OS with tiling enabled
            <ul>
            <li>It's a window manager including gaps without much config needed lets me just get to work</li>
            </ul>
            </li>
            <li>Gnome Tweaks</li>
            <li>Just perfection extension</li>
            <li>Simply workspaces extension</li>
            </ul>
            <h4 id="editors">Editors:</h4>
            <ul>
            <li>Neovim + Tmux</li>
            <li>Vscode (Mainly for the liveshare feature)</li>
            </ul>
            <h4 id="shell">Shell:</h4>
            <ul>
            <li>zsh</li>
            <li>oh my zsh</li>
            </ul>
            <h4 id="cli-utilities">CLI Utilities:</h4>
            <ul>
            <li>lf</li>
            <li>Ripgrep</li>
            <li>fzf</li>
            <li>Xclip</li>
            <li>Git</li>
            <li>Lazygit</li>
            <li>Lazydocker</li>
            <li>GNU stow</li>
            <li>Newsboat</li>
            <li>Mpv</li>
            </ul>
            <h5 id="applications">Applications:</h5>
            <ul>
            <li>xfce4-terminal</li>
            <li>Megasync</li>
            <li>Ghex</li>
            <li>Dbeaver</li>
            </ul>
            <p>Alot of these tools require some sort of config file that I have tweaked to my liking, if you're interested, here's a link to my <a href="https://github.com/jasonhilder/dotfiles" target="_blank">dotfiles</a>.</p>
        </section>
    </div>
    {{ template "links" . }}

    {{ template "footer" . }}
{{ end }}

