{{ define "a_desktop_timelapse.html" }}
    {{ template "head" . }}

    {{ template "header" . }}
        
    <div class="container">
        <section id="articles-detail">
            <h1>A Desktop Timelapse</h1>
            <p class="date" style="margin-bottom:0;">
                <small>Published: 2023-05-18</small>
            </p><hr>
            <p>This is a post that I intend to update as my desktop changes, be it small or a complete overhaul.</p>
            <p>I saw this on someone else's website and thought it was a cool idea, to be able to see over the years how much or how little has changed.</p>
            <img src="/images/desktop-2022-1.png" alt="Desktop 2022 wallpaper" class="img-fluid">
            <br>
            <br>
            <img src="/images/desktop-2022-2.png" alt="Desktop 2022 apps" class="img-fluid">
            <table><thead><tr><th style="text-align: center"></th></tr></thead><tbody>
            <tr><td style="text-align: center"><em>Ubuntu LTS, i3 window manager, alacritty, neovim, vscode dark themed</em></td></tr>
            </tbody></table>
            <hr>
            I found that POP_OS had their <a href="https://github.com/pop-os/shell" target="_blank">pop shell</a> tiling feature which could give me i3's functionality with less setup/config.
            <br>
            <br>
            <img src="/images/desktop-2022-2-1.png" alt="Desktop 2022 second wallpaper" class="img-fluid">
            <br>
            <br>
            <img src="/images/desktop-2022-2-2.png" alt="Desktop 2022 second apps" class="img-fluid">
            <table><thead><tr><th style="text-align: center"></th></tr></thead><tbody>
            <tr><td style="text-align: center"><em>POP_OS, pop-shell tiling, alacritty, neovim, Kanagawa themed</em></td></tr>
            </tbody></table>
            <hr>
            After a few small changes to the layout and applications this was my desktop for a while.
            <br>
            <br>
            <img src="/images/desktop-2023-1.png" alt="Desktop 2022 second wallpaper" class="img-fluid">
            <br>
            <br>
            <img src="/images/desktop-2023-2.png" alt="Desktop 2022 second apps" class="img-fluid">
            <table><thead><tr><th style="text-align: center"></th></tr></thead><tbody>
            <tr><td style="text-align: center"><em>POP_OS, pop-shell tiling, xfce4 terminal, neovim, Jelly-beans themed</em></td></tr>
            </tbody></table>
            <hr>
            I made the switch to Void Linux, so I had to leave gnome+pop-shell and use xfce+i3.
            <br>
            <br>
            <img src="/images/desktop-2023-2-1.jpg" alt="Desktop 2023 first wallpaper" class="img-fluid">
            <br>
            <br>
            <img src="/images/desktop-2023-2-2.jpg" alt="Desktop 2023 first apps" class="img-fluid">
            <table><thead><tr><th style="text-align: center"></th></tr></thead><tbody>
                <tr><td style="text-align: center"><em>Void Linux, i3wm, xfce-term, tmux, neovim, Tokyo Night themed</em></td></tr>
            </tbody></table>
        </section>
    </div>

    {{ template "links" . }}

    {{ template "footer" . }}
{{ end }}

