{{ define "command_reference.html" }}
    {{ template "head" . }}

    {{ template "header" . }}
    <div class="container">
        <section id="articles-detail">
            <h1>SDl2 windows setup</h1>
            <p class="date" style="margin-bottom:0;">
                <small>Published: 2024-09-012</small>
            </p><hr>
            <p> Quick list of steps to get sdl2 working in windows without Vscode </p>
            

        </section>
    </div>

    {{ template "links" . }}

    {{ template "footer" . }}
{{ end }}
