{{ define "quiting_social_media.html" }}
    {{ template "head" . }}

    {{ template "header" . }}
    <div class="container">
        <section id="articles-detail">
            <h1>Quiting Social media</h1>
            <p class="date" style="margin-bottom:0;">
                <small>Published: 2024-04-15</small>
            </p><hr>
            <p>Or at least I'm trying to... This is primarily a rant to the void from my comfy corner of the internet.</p>
            <p>To my friends and family, I probably sound like a broken record when it comes to the topic of social media and its effects on myself, us, and the world around us—both positive and negative.</p>
            <p>For the most part, I see it as a net negative. I don't deny that it has brought some positives, but these benefits most individual users receive are outweighed by the effects it has on you, whether you are aware of it or not. Unless you're promoting a business or product (without delving into the topic of "influencers"), which is by no means perfect either, there are far better things to do and I believe this is not subjective.</p>
            <p>I personally have multiple things I'd like to get done on any given day, from exercise, work, personal projects, reading (both research and entertainment), hobbies, and just being more present in life. Doing these feels so rewarding when actually accomplished, and the intrinsic value is obvious. However, I've noticed how easily and habitually picking up the phone and browsing becomes. It's almost like the inertia of life that can leave us in a stagnant slump, and social media, as it is currently, is a catalyst for this effect, it should be obvious doom scrolling and spending hours in a loop of posts is a definite contributor to the epidemic of <a href="https://en.wiktionary.org/wiki/brain_rot" target="_blank">brain rot</a>.</p>
            <p>I think and say these things not from a place of judgment, but because I believe the changes to society are obvious and should be more of a concern. Nevertheless, I am addicted—or however you choose to word it—and more than likely you are too even if you don't want to acknowledge it or choose to believe "I'm in control." A little bit of introspection would probably reveal more than you'd like to admit.</p>
            <p>I do not hold these views alone; there are countless articles and studies that echo this sentiment and prove the negatives. Of the many I have read over the years, one statement from <a href="https://andrewkelley.me/" target="_blank">Andrew Kelley</a> always stuck with me and seems so obvious. To quote his blog, <a href="https://andrewkelley.me/post/goodbye-twitter-reddit.html" target="_blank">"You're letting a bunch of people who aren't really that important to you, or qualified to do the job, be the content curators for you."</a></p>
            <p>Ultimately, I don't feel these platforms add to my life, and I will take this year to try to rid myself of them and regain my focus. Hopefully, I can write a new blog in a year or so looking back at this choice as a positive one.</p>
        </section>
    </div>

    {{ template "links" . }}

    {{ template "footer" . }}
{{ end }}
