{{ define "hello_world.html" }}
{{ template "head" . }}
    <header>
        <a class="title" href="/">
            <h1> Jason Hilder </h1>
        </a>
        <nav>
            <p> <a href="/">Home</a> <a href="/entries">Entries</a> <a href="mailto:jason@jasonhilder.dev">Contact Me</a> </p>
        </nav>
    </header>

        
    <div class="container">
        <section id="articles-detail">
            <h1>Hello world</h1>
            <p class="date" style="margin-bottom:0;"><small>Published: 2022-01-31</small>
            
            </p>
            <hr>
<p>2022 is upon us and with that I intend to use this site to cultivate my own digital garden.</p>
<p>Last year I came across <a href="https://maggieappleton.com/garden-history" target="_blank">the concept</a>, an amalgamation of a journal, technical/personal notes and blog site.</p>
<p>So with that idea in mind my first entry is born!</p>
<p>I intend to copy and paste my technical notes and guides along with some occasional rants if I feel strongly enough about a topic.</p>
<p>I do not intend on reaching a large audience with my content, its my own personal space but accessible to everyone who finds it.If someone were to stumble upon this and find something useful great if not... great.</p>
<p>So with that if anyone has found this and is reading, I wish you a great and prosperous 2022, let's all work towards being better humans.</p>

        </section>
    </div>
    <div style="text-align:center;">
    <div> <a target="_blank" href="https://www.linkedin.com/in/jason-hilder/">LinkedIn</a> | <a target="_blank" href="https://github.com/jasonhilder">Github</a> | <a href="mailto:jason@jasonhilder.dev" target="_blank">Email</a> </div>
</div>


    
    <footer>
    <p style="margin:0;"><small>This site does not track any information and is intentionally small each page being ~14kb. </small></p>
</footer>

{{ end }}
