{{ define "entries.html" }}

    {{ template "head" . }}

    {{ template "header" . }}

    <p style="letter-spacing: 1.5px;">
        <strong>I have decided to make use of Github gists as a form of note keeping and short form blogging.</strong>
    </p>

    <p>This is a work in progress, future me may use githubs api and generate them as actual pages but for now its just links :)</p>

    <p><a target="_blank" href="https://gist.github.com/jasonhilder">Gist Profile</a></p>
    <ul>
        <li>
            <a target="_blank" href="https://gist.github.com/jasonhilder/c277edc228822ea6db37170fe81693e1">
                2024-09-12: This website as a single binary.
            </a>
        </li>
        <li>
            <a target="_blank" href="https://gist.github.com/jasonhilder/18cefa9a7649a4e3ab0bb4bd4e7c82e1">
                2023-10-14: Cli commands I always forget.
            </a>
        </li>
    </ul>

    {{ template "footer" . }}

{{ end }}
