{{ define "gists.html" }}

    {{ template "head" . }}

    {{ template "header" . }}

    <p style="letter-spacing: 1.5px;">
        <strong>I have decided to make use of Github gists as a form of note keeping and short form blogging.</strong>
    </p>

    <p><a href="https://gist.github.com/jasonhilder">Gist Profile</a></p>
    <ul class="blog-posts">
        <li>
            <a href="/gists/7b7c9037897b64a78cc3afd194c6e102">
                2024-10-19: C with Xmake and SDL2 setup.
            </a>
        </li>
        <li>
            <a href="/gists/c277edc228822ea6db37170fe81693e1">
                2024-09-12: This website as a single binary.
            </a>
        </li>
        <li>
            <a href="/gists/18cefa9a7649a4e3ab0bb4bd4e7c82e1">
                2023-10-14: Cli commands I always forget.
            </a>
        </li>
    </ul>

    {{ template "footer" . }}

{{ end }}
