{{ define "index.html" }}
{{ template "head" . }}

{{ template "header" . }}

<div class="container">
    <section>
        <p style="letter-spacing: 1.5px;">
            <strong> Hi, I'm a full time software developer from sunny Durban, South Africa. </strong>
        </p>
        <p>As well as an avid surfer, self proclaimed minimalist, obsessed with text editors, mechanical keyboards, Linux, graphics programming and computers in general!</p>
        <p style="letter-spacing: 1.5px;"><strong>Currently working with but not limited to:</strong></p>
        <ul>
            <li>C</li>
            <li>PHP</li>
            <li>Golang</li>
            <li>Javascript/Typescript.</li>
            <li>General Web Stack HTML, CSS.</li>
            <li>Random Bash Scripts that should not see the light of day.</li>
        </ul>
        <hr>
        <div style="text-align:center;">
            <div>
                <a target="_blank" href="https://github.com/jasonhilder">Github</a> |
                <a target="_blank" href="https://github.com/jasonhilder/dotfiles">Dotfiles</a> |
                <a target="_blank" href="/files/cv.html">Resume</a> |
                <a target="_blank" href="https://www.linkedin.com/in/jason-hilder/">LinkedIn</a>
            </div>
            <a target="_blank" style="text-align:center;" href="mailto:jason@jasonhilder.dev"><b><small>jason@jasonhilder.dev</small></b></a>
        </div>
    </section>
</div>

{{ template "footer" . }}

{{ end }}
