{{ define "music.html" }}

{{ template "head" . }}

{{ template "header" . }}

<div class="container">

    <p style="letter-spacing: 1.5px;">
        <strong>Check in on what I'm listening to and judge my horrible taste in music!</strong>
    </p>

    <hr>

    <div style="margin-top:25px;">
        {{ if .ApiFailed }}
            <div style="text-align:center;">Failed to fetch spotify info</div>
        {{ else }}
            <div style="display:flex;">
                <div style="display:inline-block">
                    <a href="{{ .Item.ExternalUrls.Spotify }}" target="_blank">
                        <img src="{{ (index .Item.Album.Images 0).Url }}" style="width:140px;heigh:140px;" />
                    </a>
                </div>

                <div style="display:inline-block;margin-left:15px">
                    {{ if .IsPlaying }}
                    <p style="margin-bottom:0;"><b>Play State:</b> Playing</p>
                    {{ else }}
                    <p style="margin-bottom:0;"><b>Play State:</b> Paused</p>
                    {{ end }}
                    <p style="margin-bottom:0;"><b>Artist:</b> 
                        <a href="{{ (index .Item.Album.Artists 0).ExternalUrls.Spotify }}" target="_blank">
                            {{ (index .Item.Album.Artists 0).Name }}
                        </a>
                    </p>
                    <p style="margin-bottom:0;"><b>Song Name:</b> 
                        <a href="{{ .Item.ExternalUrls.Spotify }}" target="_blank">
                            {{ .Item.Name }}
                        </a>
                    </p>
                </div>
            </div>
        {{ end }}
    </div>

    <hr>

    <div style="margin-top:25px;">
    </div>

    <div style="margin-top:25px; text-align:center;">
        <small>“Without music, life would be a mistake.” <i>― Friedrich Nietzsche, Twilight of the Idols</i></small>
    </div>
</div>

{{ template "footer" . }}

{{ end }}
